#content{
    font-family: Palatino, georgia, "times new roman", serif;
}
ul li {
    list-style: none;
    line-height: 200%;
    font-size: 14px;
}
#content ul{
    margin-top:14px;
}

#content h4{
    font-size:17px;
}

.figure{
    width:auto;
    float:none; 
    padding:0px;
}

#page, #disqus_thread {
-webkit-hyphens: auto;
-moz-hyphens: auto;
hyphens: auto;
box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
}
#page, #disqus_thread {
background: white;
/* background-image: url(grid.png); */
padding: 3em 3em 1.5em 3em;
border: 0;
border-top: 1px dashed #ccc;
}